<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.3/es5-shim.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/batman.js/0.16.0/batman.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/batman.js/0.16.0/batman.jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>
    <title>Extra console</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <p>{{remote}}</p>
</body>
</html>
